<!--
=========================================================
* Material Dashboard 3 - v3.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <title>
    Sign Up
  </title>
  <!-- Favicon -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />
</head>

<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
          <div class="container-fluid ps-2 pe-0">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
              Admin dashboard
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    shop
                  </a>
                </li>
                <!--
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/admin">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/profile">
                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="/register">
                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Sign Up
                  </a>
                </li>
                -->
                <li class="nav-item">
                  <a class="nav-link me-2" href="/login">
                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                    Sign In
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('/img/illustrations/illustration-signup.jpg'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Sign Up</h4>
                  <p class="mb-0">Enter your email and password to register</p>
                </div>
                <div class="card-body">
                  <form action="/register" method="post" class="p-1 border rounded ">
                    <div class="mb-4">
                      <label for="firstname" class="form-label">Firstname:</label>
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" required>
                    </div>
                    <div class="mb-4">
                      <label for="lastname" class="form-label">Lastname:</label>
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" required>
                    </div>
                    <div class="mb-4">
                      <label for="birthdate" class="form-label">Date of Birth:</label>
                      <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="mb-4">
                      <label for="gender" class="form-label">Gender:</label><br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="male" name="gender" value="Male" required>
                        <label class="form-check-label" for="male">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="female" name="gender" value="Female" required>
                        <label class="form-check-label" for="female">Female</label>
                      </div>
                    </div>
                    <div class="mb-4">
                      <label for="phone" class="form-label">Phone number:</label>
                      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" required>
                    </div>
                    <div class="mb-4">
                      <label for="address" class="form-label">Address:</label>
                      <div class="row g-2">
                        <div class="col-md-4">
                          <label for="ward" class="form-label">Ward</label>
                          <select name="ward" id="ward" class="form-select">
                            <option value="">Select Ward</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="district" class="form-label">District</label>
                          <select name="district" id="district" class="form-select">
                            <option value="">Select District</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="province" class="form-label">City</label>
                          <select name="province" id="province" class="form-select">
                            <option value="">Select City</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mb-4">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-4">
                      <label for="password" class="form-label">
                        Password:
                        <button id="lookpassword" type="button" style="border: none; background-color: white;">
                          <i id="togglePassword" class="fas fa-eye"></i>
                        </button>
                      </label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="mb-4">
                      <label for="confirmPassword" class="form-label">
                        Confirm Password:
                        <button id="lookconfirmpassword" type="button" style="border: none; background-color: white;">
                          <i id="toggleConfirmPassword" class="fas fa-eye"></i>
                        </button>
                      </label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Re-enter your password" required>
                    </div>
                    <div class="mb-4 form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        I agree to the <a href="javascript:;" class="text-primary text-decoration-none">Terms and Conditions</a>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" id="btn-register" disabled>Register</button>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="/login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/jquery-3.7.1.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

    $('#password, #confirmPassword').on('input', () => {
      // Check if passwords match
      if($('#password').val() !== $('#confirmPassword').val()){
        $('#btn-register').prop('disabled', true);
      } else {
        // Check if all required fields are filled
        if ($('#email').val() && $('#password').val() && $('#confirmPassword').val() && 
            $('#phone').val() && $('#birthdate').val() && $('#lastname').val() && 
            $('#firstname').val() && $('#flexCheckDefault').prop('checked')) {
          $('#btn-register').prop('disabled', false);
        } else {
          $('#btn-register').prop('disabled', true);
        }
      }
    });

    $('#email, #phone, #birthdate, #lastname, #firstname, #flexCheckDefault').on('input', () => {
      // Check if all required fields are filled and passwords match
      if ($('#email').val() && $('#password').val() && $('#confirmPassword').val() && 
          $('#phone').val() && $('#birthdate').val() && $('#lastname').val() && 
          $('#firstname').val() && $('#flexCheckDefault').prop('checked') && 
          $('#password').val() === $('#confirmPassword').val()) {
        $('#btn-register').prop('disabled', false);
      } else {
        $('#btn-register').prop('disabled', true);
      }
    });

    $('#lookpassword').click(function() {
      var password = $('#password');
      var togglePassword = $('#lookpassword'); // Assuming #lookpasswor is the element that toggles visibility
      if (password.attr('type') === 'password') {
        password.attr('type', 'text'); // Change input type to text to show password
        togglePassword.removeClass("fa-eye"); // Remove the eye icon
        togglePassword.addClass("fa-eye-slash"); // Add the eye-slash icon
      } else {
        password.attr('type', 'password'); // Change input type back to password to hide it
        togglePassword.removeClass("fa-eye-slash"); // Remove the eye-slash icon
        togglePassword.addClass("fa-eye"); // Add the eye icon
      }
    });

    $('#lookconfirmpassword').click(function() {
      var password = $('#confirmPassword');
      var togglePassword = $('#lookconfirmpassword'); // Assuming #lookpasswor is the element that toggles visibility
      if (password.attr('type') === 'password') {
        password.attr('type', 'text'); // Change input type to text to show password
        togglePassword.removeClass("fa-eye"); // Remove the eye icon
        togglePassword.addClass("fa-eye-slash"); // Add the eye-slash icon
      } else {
        password.attr('type', 'password'); // Change input type back to password to hide it
        togglePassword.removeClass("fa-eye-slash"); // Remove the eye-slash icon
        togglePassword.addClass("fa-eye"); // Add the eye icon
      }
    });
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/material-dashboard.min.js?v=3.2.0"></script>
</body>

</html>