<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />
    <style>
      body {
          font-family: Arial, sans-serif;
      }
      .upload-box {
          width: 100%;
          max-width: 600px;
          padding: 30px;
          border: 2px dashed #007bff;
          text-align: center;
          display: flex;
          cursor: pointer;
          margin: 20px auto;
          border-radius: 10px;
          background-color: #f8f9fa;
          
      }
      .upload-box:hover {
          background-color: #e9ecef;
      }
      .preview {
          margin-top: 15px;
      }
      .preview img {
          max-width: 100%;
          height: auto;
          border-radius: 10px;
      }
      input[type="file"] {
          display: none;
      }
    </style>
</head>
<body class="bg-light">
    <div class="justify-content-center d-flex">
        <a href="/" class="btn btn-outline-dark bg-gradient-dark">Home Page</a>
        <a href="/admin" class="btn btn-outline-dark bg-gradient-dark">Admin Page</a>
        <a href="/profile" class="btn btn-outline-dark bg-gradient-dark">Profile Page</a>
    </div>
    
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center text-primary mb-4">Create Product</h2>
            <form action="/createProduct" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label class="form-label">Product Name</label>
                  <input type="text" class="form-control shadow-dark" name="productname" id="product-name" required>
                </div>

                <div class="mb-3">
                  <label class="form-label">Count</label>
                  <input type="number" class="form-control shadow-dark" name="count" id="product-count" required min="1">
                </div>
              
                <div class="mb-3 upload-box" id="drop-area">
                  <p>Kéo và thả hình ảnh vào đây hoặc <label for="ImageUrl" style="color: blue; cursor: pointer;">chọn tệp</label></p>
                  <input type="file" name="ImageUrl" id="ImageUrl" accept="image/*" class="form-control shadow-dark justify-content-center"required>
                  <div class="preview" id="preview"></div>
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Weight (kg)</label>
                  <input type="number" class="form-control shadow-dark" name="weight" id="product-weight" min="0.01" step="0.01" required>
                </div>

                <div class="mb-3">
                  <label class="form-label">Size </label>
                  <div class="d-flex">
                    <input type="text" id="newsize" class="form-control shadow-dark" placeholder="add new size">
                    <button class="btn btn-primary" onclick="addsize(event)">+</button>
                  </div>
                  <select name="size[]" id="size" class="form-control shadow-dark" multiple>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Select color </label>
                  <div class="d-flex">
                    <input type="text" id="newcolor" class="form-control shadow-dark" placeholder="add new color">
                    <button class="btn btn-primary" onclick="addcolor(event)">+</button>
                  </div>
                  <select name="color[]" id="color" class="form-control shadow-dark" multiple>
                    <option value="default">default</option>
                    <option value="white">white</option>
                    <option value="black">black</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Tags </label>
                  <div class="d-flex">
                    <input type="text" id="newtag" class="form-control shadow-dark" placeholder="add new tag">
                    <button class="btn btn-primary" onclick="addtag(event)">+</button>
                  </div>
                  <select name="tags[]" id="tags" class="form-control shadow-dark" multiple>
                    
                  </select>
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Dimensions (L x W x H cm)</label>
                  <input type="text" class="form-control shadow-dark" name="dimensions" id="product-dimensions" required>
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Price ($)</label>
                  <input type="number" class="form-control shadow-dark" name="price" id="product-price" min="0.01" step="0.01">
                </div>

                <div class="mb-3">
                  <label class="form-label">Discount (%)</label>
                  <input type="number" class="form-control shadow-dark" name="discount" id="product-discount" min="0" step="0.01" max="100">
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <textarea class="form-control shadow-dark" name="description" id="description" required></textarea>
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Producer</label>
                  <input type="text" class="form-control shadow-dark" name="producer" id="producer" required>
                </div>
              
                <div class="mb-3">
                  <label class="form-label">Category</label>
                  <select class="form-select" name="category[]" id="product-category" class="form-control shadow-dark" multiple>
                    <!-- appear category --> 
                  </select>
                </div>
              
                <button type="submit" class="btn btn-success">Create Product</button>
            </form>
        </div>
    </div>

    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery-3.7.1.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>

    <script>
        function addcolor(e){
          e.preventDefault();
            let color = $('#newcolor').val();
            if(color){
                $('#color').append(`<option value="${color}">${color}</option>`);
                $('#newcolor').val('');
            }
        }

        function addsize(e){
          e.preventDefault();
            let size = $('#newsize').val();
            if(color){
                $('#size').append(`<option value="${size}">${size}</option>`);
                $('#newsize').val('');
            }
        }

        function addtag(e){
          e.preventDefault();
            let tag = $('#newtag').val();
            if(color){
                $('#tags').append(`<option value="${tag}">${tag}</option>`);
                $('#newtag').val('');
            }
        }

        $('#product-category').ready(() =>{
            $.ajax({
                url: '/getAllCategory',
                method: 'GET',
                success: (response) => {
                    let html = '';

                    response.data.forEach(category => {
                        html += `<option value="${category.id}">${category.CategoryName}</option>`;
                    });

                    $('#product-category').html(html);
                },
                error: (err) => {
                    console.log('Error:', err);
                }
            });
        });

        $(document).ready(function () {
            let dropArea = $("#drop-area");
            let fileInput = $("#ImageUrl")[0];
            let preview = $("#preview");

            // Ngăn chặn hành vi mặc định
            dropArea.on("dragenter dragover", function (e) {
                e.preventDefault();
                dropArea.css("background-color", "#e0e0e0");
            });

            dropArea.on("dragleave", function () {
                dropArea.css("background-color", "#f8f9fa");
            });

            dropArea.on("drop", function (e) {
                e.preventDefault();
                dropArea.css("background-color", "#f8f9fa");
                let files = e.originalEvent.dataTransfer.files;
                let dataTransfer = new DataTransfer();
                $.each(files, function (i, file) {
                    dataTransfer.items.add(file);
                });

                fileInput.files = dataTransfer.files;
                handleFiles(files);
            });

            // Xử lý khi chọn file từ input
            $('ImageUrl').on("change", function () {
              handleFiles(this.files);
            });

            // Xử lý hiển thị ảnh xem trước
            function handleFiles(files) {
                preview.empty();
                $.each(files, function (index, file) {
                    if (file.type.startsWith("image/")) {
                        let reader = new FileReader();
                        reader.onload = function (e) {
                            preview.append(`
                            <label>${file.name}</label>
                            <img src="${e.target.result}" alt="Uploaded Image" >`);
                        };
                        reader.readAsDataURL(file);
                    } else {
                        alert("Vui lòng chọn file ảnh hợp lệ!");
                    }
                });
            }
        });
    </script>
</body>
</html>
