
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="justify-content-center text-center" >
        <a class="btn btn-outline-success" href="/">Home Page</a>
        <a class="btn btn-outline-success" href="/shop">Shop Page</a>
        <a class="btn btn-outline-success" href="/profile">Profile Page</a>
        <a class="btn btn-outline-success" href="/receipt">Back</a>    
    </header>
    <div class="container p-4">
        <form class="card-body" id="payment-form">
            <label for="provider" class="form-label">Ngân hàng:</label>
            <select name="provider" class="form-control" required>
                <!-- Các ngân hàng có thể thêm vào đây -->
                <option value="Zalopay">Zalopay</option>
                <option value="MoMo">MoMo</option>
            </select>
    
            <label for="accountNumber"  class="form-label">Số tài khoản:</label>
            <input type="text" name="accountNumber" class="form-control" required>
    
            <input type="hidden" name="userId" value="<%= user.id %>" required>
    
            <div style="margin-top: 12px;">
                <button type="button" class="btn btn-outline-success" id="btn-add">Thêm tài khoản</button>
            </div>
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        // Đảm bảo sử dụng chính xác selector
        $('#btn-add').click(function () {
            $.ajax({
                url: '/api/payment/add',
                method: 'POST',
                data: $('#payment-form').serialize(),
                success: (res) => {
                    location.reload();
                    alert(res.message);
                },
                error: (err) => {
                    // console.log(err.responseText);
                    alert(err.responseText);
                }
            });
        });
    </script>
    
</body>
</html>